{% extends 'header.html' %}
{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-3">
                <div class="sidebar p-4 mb-2 bg-body-tertiary rounded-3">
                    <div class="sidebar-section" style="margin-bottom: 20px;">
                    <label for="yearDropdown" class="form-label">Year</label>
                    <select id="yearDropdown" class="form-select"></select>
                    </div>
    
                    <div class="sidebar-section">
                        <label for="filterTypeDropdown" class="form-label">Filter Type</label>
                        <select id="filterTypeDropdown" class="form-select"></select>
                    </div>
        
                    <div class="sidebar-section">
                        <label for="specificFilterDropdown" class="form-label">Specific Filter</label>
                        <select id="specificFilterDropdown" class="form-select"></select>
                    </div>
        
                    <div class="sidebar-section">
                        <label for="areaDropdown" class="form-label">Geographical Area</label>
                        <select id="areaDropdown" class="form-select"></select>
                    </div>
        
                    <div class="sidebar-section">
                        <label for="unitsDropdown" class="form-label">Units</label>
                        <select id="unitsDropdown" class="form-select"></select>
                    </div>

                    <div class="sidebar-section">
                        <label for="groupingDropdown" class="form-label">
                            Grouping
                            <a href="#" data-bs-toggle="modal" data-bs-target="#groupingModal">
                                <i class="fa-solid fa-circle-question text-dark" data-bs-toggle="tooltip" data-bs-title="Click for an explanation of the groupings."></i>
                            </a>
                        </label>
                        <select id="groupingDropdown" class="form-select"></select>
                    </div>
        
                    <div class="sidebar-section">
                        <div id="error"></div>
                    </div>
    
                    <hr>

                    <div class="d-flex justify-content-between">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Export data
                            </button>
                            <ul class="dropdown-menu">
                                <li><a id="csvButton" class="dropdown-item" href="#">Export as CSV</a></li>
                                <li><a id="excelButton" class="dropdown-item" href="#">Export as Excel</a></li>
                            </ul>
                        </div>
                        <button id="dataGuideButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dataGuideModal">Data Guide</button>
                    </div>

                </div>
            </div>
            <div class="col-lg-9">
                <div class="map-container">
                    <div id="map" class="rounded-3"></div>
                    <select id="regionDropdown" class="form-select form-select-sm"></select>
                    <div class="form-check" id="labelCheckboxDiv">
                        <input class="form-check-input" type="checkbox" value="" id="labelCheckbox">
                        <label class="form-check-label" for="labelCheckbox">Show top 10</label>
                    </div>
                    <div id="hover-box" class="leaflet-bar"></div>
                </div>
           </div>
        </div>
        <div class="row">
            <div class="datalist">
                <div class="title">
                    <button type="button" class="btn-close btn-sm" id="close-info-bar-btn"></button>
                </div>
                <div class="list">
                    <div class="item"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="dataGuideModal" tabindex="-1" role="dialog" aria-labelledby="dataGuideModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dataGuideModalLabel">Data Guide</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="table-light">
                                <tr>
                                    <th>Measure (Metric)</th>
                                    <th>Source</th>
                                    <th>Period</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Homelessness Rate (per 10,000)</td>
                                    <td>TableBuilder</td>
                                    <td>2021</td>
                                    <td>Estimated rate of homelessness per 10,000 people in the selected geographical area: (<var>number of homeless</var> / <var>population</var>) * 10,000.</td>
                                </tr>
                                <tr>
                                    <td>Homelessness Frequency (Total)</td>
                                    <td>TableBuilder</td>
                                    <td>2021</td>
                                    <td>Estimated total number of homeless individuals in the selected category or geographic area.</td>
                                </tr>
                                <tr>
                                    <td>Homelessness Categories</td>
                                    <td>TableBuilder</td>
                                    <td>2021</td>
                                    <td>Estimated distribution of homeless individuals across the six <a href="https://www.abs.gov.au/statistics/people/housing/estimating-homelessness-census/latest-release#homeless-operational-groups" target="_blank">ABS homeless operational groups</a>.
                                        &ldquo;<em>All homeless persons</em>&rdquo; refers to the total across all six groups, although these values were
                                        extracted from TableBuilder directly as totals (i.e., not summed due to <a href="https://www.abs.gov.au/statistics/microdata-tablebuilder/tablebuilder/confidentiality-and-relative-standard-error#perturbation" target="_blank">data perturbation</a>
                                        that the ABS applies to individual cells; meaning that row summation would lead to the aggregation of errors).
                                    </td>
                                </tr>
                                <tr>
                                    <td>Age</td>
                                    <td>TableBuilder</td>
                                    <td>2021</td>
                                    <td>Estimated distribution of homelessness by age groups.</td>
                                </tr> 
                                <tr>
                                    <td>Indigenous Status</td>
                                    <td>TableBuilder</td>
                                    <td>2021</td>
                                    <td>Estimated distribution of homelessness by Indigenous status.</td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>TableBuilder</td>
                                    <td>2021</td>
                                    <td>Estimated distribution of homelessness by gender (Note: ABS data currently reports only on the categories of <em>male</em> and <em>female</em>).</td>
                                </tr>
                                <tr>
                                    <td>Geographical Area</td>
                                    <td>TableBuilder</td>
                                    <td>2021</td>
                                    <td>Data can be filtered by <a href="https://www.abs.gov.au/statistics/standards/australian-statistical-geography-standard-asgs-edition-3/jul2021-jun2026/non-abs-structures/local-government-areas" target="_blank">Local Government Area</a> (LGA) or <a href="https://www.abs.gov.au/statistics/standards/australian-statistical-geography-standard-asgs-edition-3/latest-release" target="_blank">Statistical Area Level 3</a> (SA3).</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <p>
                        Census data for 2021 were extracted from the ABS's <a href="https://www.abs.gov.au/statistics/microdata-tablebuilder/tablebuilder" target="_blank">TableBuilder</a>,
                        using the <code>2021 Census - counting persons, estimating homelessness</code> dataset. Population counts were based on <code>Geographical Areas (Enumeration)</code>,
                        with LGA 2021 boundaries.
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="groupingModal" tabindex="-1" aria-labelledby="groupingModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="groupingModalLabel">Quantiles vs Natural Breaks</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Quantiles divide the data into groups with an equal number of data points per group,
                        so points with large differences can sometimes be grouped together (i.e., outliers
                        are less noticable). The natural breaks approach tries to group the data
                        points based on their distribution (and see
                        <a href="https://gisgeography.com/choropleth-maps-data-classification/" target="_blank">here</a>):
                    </p>
                    
                    <img src="static/breaks_small.gif" style="vertical-align:middle; padding-bottom:10px">

                    <p>For Australian homelessness, natural breaks are helpful for showing the most affected
                        areas <em>nationally</em>, but they can understate homelessness <em>within states</em>.
                        We offer both quantiles and natural breaks for data exploration.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/filtering.js')}}"></script>
    <script src="{{ url_for('static', filename='js/map.js')}}"></script>
    <script src="{{ url_for('static', filename='js/exporting.js')}}"></script>
{% endblock %}
